# Ansible
deploy/hosts.yml
# Locally stored Ansible resources
.ansible/*
deploy/collections/*
!deploy/collections/.gitkeep
deploy/roles/*
!deploy/roles/.gitkeep

# Certificates
*.csr
*.pem

# CFSSL Config
docker/etc/cfssl/config/*

# Compose Services
docker/pihole/*
traefik/config/letsencrypt/*

# Environment
.env

# Mac OS X
.DS_Store

# Vagrant
.vagrant

# virtualenv files
.venv/*

