{
    "CN": "{{ certificate_cn }}",
    "key": {{ cfssl_ca.key | to_nice_json }},
    "names": {{ cfssl_ca.names | to_nice_json }},
    "hosts": [
{% if gitlab.enable_localhost %} 
        localhost,
{% endif %}  
        "{{ certificate_cn }}"
    ]
}
